<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<link href="css/jquery-confirm.min.css" rel="stylesheet">
  	<link href="css/jquery-confirm.css" rel="stylesheet">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block estilosCss %}
	{% endblock %}

	{% block jQueryScript %}
	{% endblock %}

	<title>
		{% block title %}
		{% endblock %}
	</title>
	
</head>

<body>

	<section class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="index.php?action=home">Login</a>
    		<a class="navbar-brand" href="index.php?action=protocolos">Protocolos</a>
    </div>
  </div>
</nav>
	</section>

	{% block contentPage %}
	{% endblock %}
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	{% block scripts %}
	{% endblock %}
</body>
</html>
