{% extends 'layout.html.twig' %}

{% block title %}
	| Login
{% endblock %}

{% block main %}
	<section class="container">
		<form name="form1" id="form1" method="post" action="./?action=login">
			<div class="form-group" id="formUsername">
				<label for="nameUser">Nombre de Usuario</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
					<input type="text" class="form-control" name="username" id="username" value="{{ hola }}" required="required">
				</div>
			</div>
			<div class="form-group" id="formPassword">
				<label for="passwordUser">Contraseña</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
					<input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">
				</div>
			</div>
		
			<input class="btn btn-success" type="submit" name="enviar" id="enviar" value="Enviar"><br><br>
			
		</form>
	</section>
{% endblock %}