{% extends 'estructura_html.html.twig' %}

{% block contentPage %}
	<header style="height: 100px;">
		{% include 'nav.html.twig' %}
	</header>

	{% if (hecho is not empty) %}
		<section class="alert alert-success" role="alert">
			<h4><span class="glyphicon glyphicon-ok-circle"></span> {{ hecho }}</h4>
		</section>
	{% endif %}

	<main>
		{% block main %}
		{% endblock %}
	</main>
{% endblock %}