{% extends 'estructura_html.html.twig' %}

{% block contentPage %}
	
	<main>
		{% block main %}
		{% endblock %}
	</main>


	<footer>
			<div class="container">
				<div class="row text-center">
					<p>
						App Web - Bonita
					</p>
				</div>
			</div>
	</footer>
{% endblock %}