<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="col-md-1" >
        {% if username is not empty %}
            <a href="./?action=proyectos" class="navbar-brand">Proyectos</a>
        {% else %}
            <a href="./?action=home" class="navbar-brand">AppWEB</a>
        {% endif %}
    </div>

    <div class="col-md-10" >
        <div class="collapse navbar-collapse justify-content-md-end" id="usuario">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    {% if username is empty %}
                        <a class="navbar-brand" href="./?action=login">Iniciar Sesión</a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="./?action=backend">Backend</a>
                            <a class="dropdown-item" href="./?action=logout">Cerrar sesión</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

</nav>