<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if username is not empty %}
                <li class="nav-item active">
                    <a href="#" class="nav-link">{{ rol|upper }}</a>
                </li>
                {% if rol == 'jefe' %}
                    <li class="nav-item">
                        <a href="./?action=proyectos" class="nav-link">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a href="./?action=protocolos" class="nav-link">Protocolos</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="./?action=protocolos" class="nav-link">Protocolos</a>
                    </li>
                {% endif %}
            {% else %}
                <a href="./?action=home" class="nav-link">AppWEB</a>
            {% endif %}



        </ul>
    </div>

    <div class="col-md-6" style="margin-right: 75px;">
    
        <div class="collapse navbar-collapse justify-content-md-end" id="usuario">
            <ul class="nav navbar-nav navbar-left">
				{% block navLeft %}
							
				{% endblock %}
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    {% if username is empty %}
                        <a class="navbar-brand" href="./?action=login">Iniciar Sesión</a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="./?action=backend">Backend</a>
                            {% if rol == 'jefe' %}
                                <a class="dropdown-item" href="./?action=monitor">Monitor</a>
                            {% endif %}
                            <a class="dropdown-item" href="./?action=logout">Cerrar sesión</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

</nav>