{% extends 'layout.html.twig' %}

{% block title %}
    | Nuevo proyecto
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Nuevo proyecto</h2>
            <form method="POST" name="nuevo_proyecto" action="./?action=nuevoProyectoAction">

                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required="required">
                </div>

                <div class="form-group">
                    <label for="fechaInicio">Fecha inicio</label>
                    <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" aria-describedby="fechaInicio" placeholder="Ingrese la fecha de inicio del proyecto" required="required">
                </div>

                <div class="form-group">
                    <label for="fechaFin">Fecha fin</label>
                    <input type="date" class="form-control" name="fechaFin" id="fechaFin" aria-describedby="fechaFin" placeholder="Ingrese la fecha de fin del proyecto" required="required">
                </div>

                <button type="submit" class="btn btn-success">Crear proyecto</button>
            </form>
        </div>
    </div>
{% endblock %}


